<% layout('/layouts/boilerplate.ejs') %>

<body>
    <h3>All Listings</h3>
    <!-- <form method="get" action="http://localhost:6060/listings/new">
        <button> Create new Listings</button></form>  -->
    

        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
            
        <% for(let i=0;i<alldata.length;i++)
         { %>
            <a class="links" href="/listings/<%= alldata[i]._id%>">
        <div class="card col listing-card">
             <img src="<%=alldata[i].image.url%>" class="card-img-top" alt="Listings_image" style="height: 20rem;">
             <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text"><b><%= alldata[i].title %></b>
                <br>
                &#8377;<%=alldata[i].price%>.toLocaleString("en-IN");
                </p>
            </div>
          </div>
          </a>
          <% }%>
        </div>

